<!DOCTYPE html>
<html>
<head>
  <title>Trails Forward</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#"><%= image_tag "header_bg.png"%></a>
        <ul class="nav pull-right lead">
          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Register', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <% if notice.present? %><div class="alert alert-info"><%= notice %></div><% end %>
    <% if alert.present? %><div class="alert"><%= alert %></div><% end %>

    <%= yield %>
  </div>

</body>
</html>
